<div class="nav-wrapper">
    <a href="/dash" class="brand-logo">LIFE</a>
    <a href="#" data-target="mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">   
        <li><a href="/events">Events</a></li>
        <li><a href="/tasks">Tasks</a></li>
        <li><a href="/goals">Goals</a></li>
    </ul>
  </div>

  <ul class="sidenav" id="mobile">
    <li><a href="/events">Events</a></li>
    <li><a href="/tasks">Tasks</a></li>
    <li><a href="/goals">Goals</a></li>
    </ul>
   

  