<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <h1>NEW GRADES</h1>
        <form action="/" method="POST">
            Name: <input type="text" name="name" placeholder="Name Of Assignment" /><br/>
            Course: <input type="text" name="class" placeholder="What Class" /><br/>
            Type: <input type="text" name="category" placeholder="Type Of Assignment" /><br/>
            Grade: <input type="number" name="grade" placeholder="Grade" /><br/>
            Date Due: <input type="date" name="dateDue"  /><br/>
            Date Submitted: <input type="date" name="dateSubmitted"  /><br/>
            
            <input type="submit" name="" value="Finish and Submit"/>
        </form>
    <footer>
        <%- include ('../partials/footer.ejs') %>
    </footer>
</body>
</html>